<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hawaii Weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Hawaii !!!</h1>
        <hr>
        <p class="lead">Planning for vacation can be quite an intensive task. One of the most important factors to
            consider when choosing an ideal place is its weather condition. On this simple website, users can
            quickly query weather condition based on start and end dates. <br><br> APIs access to full data is
            available.</p>
    </div>
    <div id="wrapper">
        <div id="api-list">
            <p id="api-list-header">APIs of Available Data</p>
            <hr>
            <p>Quick APIs to all available data:</p>
            <ul>
                <li>Precipitations
                    <ul>
                        <li>
                            <a href="/api/precipitation">/api/precipitation</a>
                        </li>
                    </ul>
                </li>
                <li>Weather Station List
                    <ul>
                        <li>
                            <a href="/api/stations">/api/stations</a>
                        </li>
                    </ul>
                </li>
                <li>Temperature Observations of the Most Active Station
                    <ul>
                        <li>
                            <a href="/api/tobs">/api/tobs</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <br>
            <p>To query data on a specific start date or start-end dates, use the following APIs</p>
            <p>NOTE: all dates are in format YYYY-MM-DD</p>
            <ul>
                <li>
                    <code>
                        /api/startdate=&lt;start-date&gt;
                    </code>
                </li>
                <li>
                    <code>/api/startdate=&lt;start&gt;/enddate=&lt;end&gt;/</code>
                </li>
            </ul>
        </div>
        <div id="user-input">
            <p id="api-list-header">Example</p>
            <hr>
            <form method="POST" action="example">
                <label for="">Start Date:
                    <input type="text" name="sdate" required placeholder="yyyy/mm/dd"><br>
                </label>
                <label for="">End Date:
                    <input type="text" name="edate" required placeholder="yyyy/mm/dd"><br>
                </label>
                <br>
                <input id="btn" type="submit" value="Submit">
            </form>
            <div id="results">
                <!-- when html first loaded, there is no response
                display message to tell user to input some dates -->
                {% if not response %}
                <p>Please input dates to begin.</p>

                <!-- when date is input, there are 2 scenarios
                    1. if date out of range, there should be "error" word
                    2. use this word as a conditions for jinja output     -->

                {% elif "error" in response %}
                <p>Results: <b>No data found</b>, please check input dates.</p>
                <ul>
                    <li>The First Available Date: {{response.the_first_available_date}}</li>
                    <li>The Last Available Date: {{response.the_last_available_date}}</li>
                </ul>

                <!-- if response is valid with avg, min, max temp: -->
                {% else %}
                <p>Results: </p>
                <ul>
                    <li>Minimum Temperature: <span class="min-temp">{{response.min}} <sup>o</sup>F</span></li>
                    <li>Max Temperature: <span class="max-temp">{{response.max}} <sup>o</sup>F</span></li>
                    <li>Average Temperature: <span class="avg-temp">{{response.avg}} <sup>o</sup>F</span></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>